
/*General*/

* {
    font-family: 'Tenor Sans', sans-serif;
    color: #984418;
    background-color: #ffeed7;
    margin-left: 0.25cm ;
    margin-right: 0.25cm;
    box-sizing: border-box;
}


nav {
    text-align: center;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1 ;
    display:flexbox;
}



a {
    color: #984418;
    margin: 3%;
    font-size: large;
    text-decoration:none;
    transition: all 0.3s ease, left 0.3s ease;
}

a:hover{color:goldenrod;
    border-bottom: 1px solid;
}


p {
    font-size: large;
}


h1 {
    text-align: center;
}


footer {
    background-color: #984418;
    padding: 8px;
    text-align: center;
    margin: 10px;
}

footer * {
    background-color: inherit;
    color: #ffeed7;
}

img {
    max-width: 100%;
    height: auto;
}



/*Inicio*/

.textobienvenida {
    text-align: center;
}





/*Contacto*/

.contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:  "texto texto"
                              "formulario imagen2";
        gap: 10px;
}

.texto {
    grid-area: texto;
}

.formulario {
    grid-area: formulario;
}

.imagen2 {
    grid-area: imagen2;
    place-self: center;
}


form {
    font-size: large;
    padding: 10px;
}



.enviar{
    background-color: #984418;
    color: #ffeed7;
    width: 70px;
    height: 30px;
    font-size: large;
}

.enviarp{
    text-align: center;  
}

input, textarea, select{
     border-radius: 0.10cm;
     border-color: #c99173;
     border-style:ridge;
     font-size: medium;
}

textarea{
    width: 100%;
}

.input2{
    width: 100%;
}

/*Sobre Nosotros*/

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: "contenido imagen"
                         "mapa imagen";
    gap: 10px;
}

.contenido{
    grid-area: contenido;
}

.imagen {
    grid-area: imagen;
}

.mapa {
    grid-area: mapa;
}



/*Productos*/

.compralibros{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(4, 430px);
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: stretch;
    
}


.producto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 180px);
    grid-template-areas: "imagen"
                         "detalles";
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.imagenprod{
    grid-area: imagen;
    max-width: 40%;
    height: auto;
    justify-self: center;
}

.detalles-prod{
    grid-area: detalles;
    justify-self: center;

}

.titulo{
    color: chocolate;
}

.autor, .precio{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo, .autor, .precio{
    margin: 10px;
}

.comprar{
    border-radius: 0.15cm;
    border-style:groove;
    border-width: 0px;
    background-color: chocolate;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    width: 80px;
    height: 30px;
    transition: all 0.3s ease, left 0.3s ease;

}

.comprar:hover{
    background-color: rgb(177, 89, 26);
}