
/*General*/

* {
    font-family: 'Tenor Sans', sans-serif;
    color: chocolate;
    background-color: #ffeed7;
    box-sizing: border-box;
}

html, body { width: 100%; 
             height: 100%; 
             margin: 0; 
             padding: 0; 
}

nav {
    text-align: center;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1 ;
    display:flexbox;
}



a {
    color: chocolate;
    margin: 3%;
    font-size: large;
    text-decoration:none;
    transition: all 0.3s ease, left 0.3s ease;
}

a:hover{color:goldenrod;
    border-bottom: 1px solid;
}


p {
    font-size: large;
}


h1 {
    text-align: center;
}


footer {
    background-color: chocolate;
    padding: 8px;
    text-align: center;
    margin-top: 10px;

}

footer * {
    background-color: inherit;
    color: #ffeed7;
}

img {
    max-width: 100%;
    height: auto;
}

main{
    margin: 20px;
}


/*Inicio*/

.textobienvenida {
    text-align: center;
}



/*Contacto*/

.contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:  "texto texto"
                              "formulario formulario";
        gap: 10px;
}

.texto {
    grid-area: texto;
    text-align: center;
}

.texto > p {
    font-style: italic;
}

.formulario {
    grid-area: formulario;
    text-align: center;
}



form {
    font-size: large;
    padding: 10px;
}


.enviar{
    background-color: chocolate;
    border: 0cm;
    color: #ffeed7;
    width: 70px;
    height: 30px;
    font-size: large;
    transition: all 0.3s ease, left 0.3s ease;
}

.enviar:hover{
    background-color: rgb(177, 89, 26);
}

.enviarp{
    text-align: center;  
}

input, textarea, select{
     border-radius: 0cm;
     border-color:#89463e;
     border-style:solid;
     border-width: 1px;
     font-size: medium;
}

textarea{
    width: 50%;
}

.archivo{
    border-style: none;
}

.input2{
    width: 50%;
    height: 100%;
    border-style: solid;
}

/*Sobre Nosotros*/

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: "contenido imagen"
                         "mapa imagen";
    gap: 10px;
}

.contenido{
    grid-area: contenido;
}

.imagen {
    grid-area: imagen;
    align-items: center;
    justify-self: center;
}

.mapa {
    grid-area: mapa;
}



/*Productos*/

.compralibros{
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: repeat(4, 430px);
    padding: 10px;
    justify-content: center;
    align-items: stretch;
    
}


.producto{
    display: grid;
    grid-template-areas: "imagen"
                         "detalles";
    margin-top: 50px;
    align-content: center;
    align-items: start;
    text-align:center;
    border-radius: 0.25cm;
    border-width: 1px;
    transition: all 0.3s ease;
}

.producto:hover{
    border: solid chocolate;
    
}


.imagenprod{
    grid-area: imagen;
    max-width: 40%;
    height: auto;
    justify-self: center;
    bottom: 50px;
}

.detalles-prod{
    grid-area: detalles;
    
}

.titulo{
    color: chocolate;
}

.autor, .precio{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo, .autor, .precio{
    margin: 10px;
}

.comprar{
    border-radius: 0.15cm;
    border-style:groove;
    border-width: 0px;
    background-color: #d2691e;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    width: 80px;
    height: 30px;
    transition: all 0.3s ease, left 0.3s ease;

}

.comprar:hover{
    background-color: rgb(177, 89, 26);
}

/*Inicio*/

.inicio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "presentacion"
                         "novedades"
                         "playlist"
                         "newsteller"
                         "redes-sociales";
}

.presentacion{
    grid-area: presentacion;
    font-weight:600;
    ;
}

.novedades{
    grid-area: novedades;
    font-size: x-large
}

.playlist{
    grid-area: playlist;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "spotify textoplaylist";
    text-align: right;
    background-color: #b48b75;

}

.spotify{
    align-self: center;
    justify-self: center;
}

.textoplaylist{
    background-color:#b48b75;
    color: #ffeed7;
    font-weight: 600;
    font-size:x-large;
    padding: 60px;
}

.newsteller{
    
    grid-area: newsteller;
    display: grid;
    grid-template-areas: "texto texto"
                         "input enviar";
    text-align: center;
    background-color: #89463e;
    align-items: center;
    
}

.textonewsteller{
    grid-area: texto;
    background-color: #89463e;
    color:#ffeed7;
    font-weight: 600;
    font-size: x-large;
}

.inputnews{
    grid-area: input;
    width: 30%;
    height: 50%;
    position: relative;
    left: 500px;
    bottom:30px;
}

.enviar2{
    grid-area: enviar;
    width: 15%;
    height: 50%;
    font-weight: 700;
    border-style:none;
    align-self: flex-start;
    position: relative;
    bottom: 9px;
}

.redes-sociales{
    grid-area: redes-sociales;
    background-color: #fbcc88;
}

.maininicio{
    margin:0;
}