
/*Detalles generales*/

* {
    font-family: 'Tenor Sans', sans-serif;
    color: #984418;
    background-color: #ffeed7;
    margin-left: 0.25cm ;
    margin-right: 0.25cm;
}


nav {
    background-color: #ce7825;
    text-align: center;
    padding: 15px;
    border-radius: 0.15cm;
}

a {
    background-color: #ce7825;
    color:#ffeed7;
    margin: 3%;

}

p {
    font-size: large;
}

h1 {
    text-align: center;
}

footer {
    background-color: #ce7825;
    padding: 8px;
    text-align: center;

}

footer * {
    background-color: inherit;
}


/*Contacto*/

.container {
        column-count: 2;
        text-align: center;
        gap: 0cm;
}

.columnaform {
    break-inside: avoid;
    border: 4px solid #ce7825;
    border-radius: 0.5cm;
    padding: 6%;
    margin-left: 0%;
    margin-right: 0%;
}


form {
    font-size: large;
    text-align: left;
}

.nombre {
    margin-left: 0%;
    margin-bottom: 2%;
    margin-right: 3%;
}

.apellido {
    margin-left: 0%;
    margin-bottom: 2%;
}


