
/*Detalles generales*/

* {
    font-family: 'Tenor Sans', sans-serif;
    color: #984418;
    background-color: #ffeed7;
    margin-left: 0.25cm ;
    margin-right: 0.25cm;
}


nav {
    background-color: #ce7825;
    text-align: center;
}

a {
    background-color: #ce7825;
    color:#ffeed7;
    margin: 3%;

}

p {
    font-size: large;
}



/*Contacto*/

.container {
        column-count: 2;
        text-align: center;
}

.columnaform {
    break-inside: avoid;
    border: 4px solid #ce7825;
    padding: 10%;
}


form {
    font-size: large;
    text-align: center;
    
}



