
/*Detalles generales*/

* {
    font-family: 'Tenor Sans', sans-serif;
    color: #984418;
}

* {
    background-color: #ffeed7;
}

nav {
    background-color: #ce7825;
    text-align: center;
}

a {
    background-color: #ce7825;
    color:#ffeed7;
    margin: 3%;

}

p {
    font-size: large;
}

