
/*Detalles generales*/

* {
    font-family: 'Tenor Sans', sans-serif;
    color: #984418;
}

* {
    background-color: #ffeed7;
}

nav {
    background-color: #ce7825;
}

a {
    background-color: #ce7825;
    color:#ffeed7
}

